.contents {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    background: #FFF;
    position: relative;
}

.item {
    width: calc(100%/4);
    margin: 0;
    text-align: center;
    height: auto;
}

.item .border .img a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
}