.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    color: black;
    font-weight: bold;
    margin: 0 5%;
}

.menu ul.nav_top,
.box-user ul.nav_user {
    height: 100%;
    display: flex;
    flex-direction: row;
}

ul,
ol {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    color: blue;
}

.itembg {
    background-image: url(../../../image/h2.jpg);
}

.border {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    border: 1px solid tomato;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 10px;
}

.img {
    width: 100%;
    height: 400px;
    position: relative;
    background-color: #eeeeee;
    background-repeat: no-repeat;
}

.info {
    flex-grow: 1;
    padding: 15px 8px 10px;
    background: #FFF;
    text-align: left;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1009;
    background: #FFF;
    border-bottom: 1px solid #e4e4e4;
    box-shadow: 0 0 5px 0px #717171;
}

.dropdown {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}