.logo{
    height: 30px;
    pointer-events: none;
  }
  #ch{
    margin-left: 37%;
  }
  .form {
    width: 35%;
    height: 30%;
    color: brown;
    margin: auto;
    margin-top: 7%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 25px;
   
  }
  .form input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 25px;
  }
  .form button[type=submit]{
    background-color: #2F9C95;
    color: #FFFFFF;
    border-radius: 25px;
    background-image: linear-gradient(to bottom, #06beb6, #48b1bf);
  }
  
  .form-wrapper {
      width: 100%;
      max-width: 28rem;
  }
  .form button {
    background-color: chartreuse;
    cursor: pointer;
    width: 100%;
    padding: .6rem 0;
    border-radius: .5rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.2rem;
    outline: none;
  }
  #linkTo1{
    text-align: center;
    margin-left:20%;
  
  }
  #linkTo2{
    text-align: center;
    margin-left: 5%;
   
  }